@tailwind base;
@tailwind components;
@tailwind utilities;
html,
body {
  padding: 0;
  margin: 0;
  background-color: white;
}

h1 {
  font-family: "Passero One", cursive;
  font-weight: 400;
  color: white;
}

h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  color: white;
}

p,
a {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  color: white;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
